#Ignore Visual Content 
git rm --cached images/
git rm --cached videos/

#Ignore Misc Content
git rm --cached Google verification file/ 
git rm --cached Non-minified/

#Ignore Sitemaps 
git rm --cached /sitemap.xml