#Ignore Visual Content 
git rm --cached images/
videos/

#Ignore Misc Content
Google verification file/ 
Non-minified/
/Notes.txt

#Ignore Disabled Cookie Content 
/cookieconsent.css
/cookieconsent.js

#Ignore Sitemaps 
/sitemap.xml